<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.560" targetFramework="net452" />
  <package id="Catel.Core" version="4.5.3" targetFramework="net452" />
  <package id="Catel.Extensions.Controls" version="4.5.3" targetFramework="net452" />
  <package id="Catel.MVVM" version="4.5.3" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.13.1" targetFramework="net452" />
</packages>